@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent-background: #f9f9f9;
  --accent-color: "#B57EDC"
}

.open-sans {
  font-family: var('--font-open-sans');
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.truncate-2-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* Limit to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5em;
  /* Adjust line height as needed */
  max-height: 3em;
  /* 2 lines * line-height */
}

.truncate-3-lines {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* Limit to 5 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5em;
  /* Adjust line height as needed */
  min-height: 4.5em;
  /* 2 lines * line-height */
}

.truncate-5-lines {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  /* Limit to 5 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5em;
  /* Adjust line height as needed */
  min-height: 4.5em;
  /* 2 lines * line-height */
}